# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
.pnpm-debug.log

# Build
dist/
build/
coverage/
.tmp
.cache

# Environment
.env
.env.local
.env.*.local

# IDE / Editor
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS files
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# ESLint cache
.eslintcache

# Misc
*.tgz
